---
to: packages/gustxd/src/components/<%= component.charAt(0).toUpperCase() + component.slice(1) %>/<%= component.charAt(0).toUpperCase() + component.slice(1) %>.tsx
---
import React from "react";
import clsx from "clsx";

export type <%= component.charAt(0).toUpperCase() + component.slice(1) %>Props = {
  children?: React.ReactNode;
  className?: string;
};

export const <%= component.charAt(0).toUpperCase() + component.slice(1) %>: React.FC<<%= component.charAt(0).toUpperCase() + component.slice(1) %>Props> = ({
  children,
  className,
  ...rest
}) => {
  const outerCls = clsx(className);

  // console.log([].sort());
  
  return (<>
    <div className={outerCls} {...rest}>
      {children}
    </div>
  </>);
};
